@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; /* Adjusted padding */
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.title:hover {
  color: #ffcc00; /* Change color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.menuBtn {
  display: none;
  font-size: 30px; /* Adjusted font size */
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition */
}

.menuBtn:hover {
  color: #ffcc00; /* Change color on hover */
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 30px; /* Adjusted gap */
  list-style: none;
}

.menuItems a {
  font-size: 20px; /* Adjusted font size */
  font-weight: 500; /* Adjusted font weight */
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.menuItems a:hover {
  color: #ffcc00; /* Change color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    background: var(--color-secondary); /* Kept background secondary for dropdown */
    padding: 20px; /* Adjusted padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  }

  .menuBtn {
    display: block;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adjusted gap */
    padding: 20px 30px; /* Adjusted padding */
    background: var(--color-secondary); /* Kept background secondary for dropdown */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
